.main-header {
  background-color: var(--primaryColor);
  position: relative;
}

.main-header__navbar {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    &__logo {
      width: 150px;
      cursor: pointer;
    }
    @media (max-width: 843px) {
      &__logo {
        width: 125px;
        cursor: pointer;
      }
    }
    &__nav {
      display: flex;
      gap: 30px;
      a {
        text-decoration: none;
        color: var(--secundaryColor);
        cursor: pointer;
        transition: 300ms;
        &:hover {
          color: var(--thirdColor);
          text-decoration: underline;
          font-weight: bold;
        }
      }
      @media (max-width: 843px) {
        position: absolute;
        top: 120px;
        width: 100%;
        left: 0;
        background-color: var(--primaryColor);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-size: 18px;
        padding-bottom: 30px;
        display: none;
      }
    }
  }

  .main-header__hamburger {
    display: flex;
    align-items: center;
    gap: 10px;
    &-cta {
      font-size: 22px;
      border: none;
      color: var(--secundaryColor);
      background-color: transparent;
      @media (min-width: 843px) {
        display: none;
      }
    }
  }
}

.main-header__hamburger--show {
  display: flex;
  
}