.regular-textinput {
  display: flex;
  flex-direction: column;
  label {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  input {
    border: 2px solid var(--thirdColor);
    border-radius: 10px;
    width: 90%;
    padding: 10px;
  }
}
