@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primaryColor: #191919;
  --secundaryColor: #fff;
  --thirdColor: #ad82e8;
  --backgroundColor: ;
  --font: "Poppins", sans-serif;
}

* {
  margin: 0;
  font-family: var(--font);
}

img {
  width: 100%;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.main-header {
  background-color: var(--primaryColor);
  height: 120px;
  position: fixed;
  width: 100%;
  top: 0;
  transition: 300ms;
  z-index: 1;
}
.main-header:not([data-scroll="0"]) {
  background: rgba(43, 43, 43, 0.7921568627);
  backdrop-filter: blur(4px);
}

.main-header__navbar {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header__navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.main-header__navbar-nav__logo {
  width: 150px;
  cursor: pointer;
}
@media (max-width: 843px) {
  .main-header__navbar-nav__logo {
    width: 125px;
    cursor: pointer;
  }
}
.main-header__navbar-nav__nav {
  display: flex;
  gap: 30px;
}
.main-header__navbar-nav__nav a {
  text-decoration: none;
  color: var(--secundaryColor);
  cursor: pointer;
  transition: 300ms;
}
.main-header__navbar-nav__nav a:hover {
  color: var(--thirdColor);
  text-decoration: underline;
  font-weight: bold;
}
@media (max-width: 843px) {
  .main-header__navbar-nav__nav {
    position: absolute;
    top: 120px;
    width: 100%;
    left: 0;
    background-color: var(--primaryColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    padding-bottom: 30px;
    display: none;
  }
}
.main-header__navbar .main-header__hamburger {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main-header__navbar .main-header__hamburger-cta {
  font-size: 22px;
  border: none;
  color: var(--secundaryColor);
  background-color: transparent;
}
@media (min-width: 843px) {
  .main-header__navbar .main-header__hamburger-cta {
    display: none;
  }
}

.main-header__hamburger--show {
  display: flex;
}

.header-avatar {
  position: relative;
}
.header-avatar__cta {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--thirdColor);
  clip-path: circle(50%);
  height: 60px;
  width: 60px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
}
.header-avatar__cta p {
  font-size: 25px;
  font-weight: 600;
  color: var(--primaryColor);
}
@media (max-width: 843px) {
  .header-avatar__cta {
    height: 50px;
    width: 50px;
  }
  .header-avatar__cta p {
    font-size: 20px;
  }
}
.header-avatar__dropdown {
  position: absolute;
  background-color: var(--secundaryColor);
  z-index: 1;
  top: 70px;
  left: -70%;
  width: 130px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #e6e6e6;
  padding: 8px;
  display: none;
}
.header-avatar__dropdown a {
  text-decoration: none;
  color: var(--primaryColor);
  font-weight: 600;
  font-size: 17px;
}
.header-avatar__dropdown-show {
  display: block;
}
@media (max-width: 843px) {
  .header-avatar__dropdown {
    position: absolute;
    width: 110px;
    top: 60px;
    left: -70px;
  }
  .header-avatar__dropdown a {
    font-size: 16px;
  }
}

.main {
  height: 100vh;
  background-image: url(https://res.cloudinary.com/dy6gbr4oc/image/upload/v1710713813/tuneify/headphones-displayed-against-dark-background_tn0wze.jpg);
  background-size: cover;
  background-position: right right;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.main-login__wrapper {
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(12, 12, 12, 0.6392156863);
  backdrop-filter: blur(5px);
  width: 100%;
  max-width: 700px;
}
.main-login__wrapper__form {
  width: 92%;
  max-width: 650px;
}
.main-login__wrapper__logo {
  width: 200px;
  margin-bottom: 55px;
}
.main-login__wrapper__heading {
  color: var(--secundaryColor);
  margin-bottom: 30px;
}
.main-login__wrapper__heading h1 {
  font-size: 55px;
}
.main-login__wrapper__heading h1 span {
  color: var(--thirdColor);
}
.main-login__wrapper__heading p {
  font-size: 17px;
}

.main-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-form__username, .main-form__password {
  display: flex;
  flex-direction: column;
  color: var(--secundaryColor);
}

.main-form__forgotpassword {
  margin-top: 11px;
}
.main-form__forgotpassword a {
  color: var(--secundaryColor);
  text-decoration: none;
}
.main-form__forgotpassword a span {
  font-weight: 600;
}

.main-form__cta {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.regular-textinput {
  display: flex;
  flex-direction: column;
}
.regular-textinput label {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 8px;
}
.regular-textinput input {
  border: 2px solid var(--thirdColor);
  border-radius: 10px;
  width: 90%;
  padding: 10px;
}

.base-btn, .outlined-btn, .filled-btn {
  margin-top: 30px;
  color: var(--secundaryColor);
  font-size: 18px;
  font-weight: bold;
  padding: 9px 20px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid var(--thirdColor);
  transition: 300ms;
  text-decoration: none;
}

.filled-btn {
  background-color: var(--thirdColor);
}
.filled-btn:hover {
  background-color: transparent;
}

.outlined-btn {
  background-color: transparent;
}
.outlined-btn:hover {
  background-color: var(--thirdColor);
}

.main-page {
  height: 100vh;
  background-image: url(https://res.cloudinary.com/dy6gbr4oc/image/upload/v1710804158/tuneify/smiling-caucasian-young-man-s-portrait-handsome-male-model-casual-style-min_qoqerf.jpg);
  background-size: cover;
  background-position: right right;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.main-page-signup__wrapper {
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(12, 12, 12, 0.6392156863);
  backdrop-filter: blur(3px);
  width: 100%;
  max-width: 650px;
}
.main-page-signup__wrapper__form {
  width: 92%;
  max-width: 650px;
}
.main-page-signup__wrapper__logo {
  width: 200px;
  margin-bottom: 55px;
}
.main-page-signup__wrapper__heading {
  color: var(--secundaryColor);
  margin-bottom: 30px;
}
.main-page-signup__wrapper__heading h1 {
  font-size: 55px;
}
.main-page-signup__wrapper__heading h1 span {
  color: var(--thirdColor);
}
.main-page-signup__wrapper__heading p {
  font-size: 17px;
}
.main-page-signup__wrapper__heading p span {
  color: var(--thirdColor);
  font-weight: bold;
}

.main-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-form__username, .main-form__password, .main-form__email {
  display: flex;
  flex-direction: column;
  color: var(--secundaryColor);
}

.main-form__forgotpassword {
  margin-top: 11px;
}
.main-form__forgotpassword a {
  color: var(--secundaryColor);
  text-decoration: none;
}
.main-form__forgotpassword a span {
  font-weight: 600;
}

.main-form__cta {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.main-home-page__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 843px) {
  .main-home-page__title {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
  }
}
.main-home-page__title--heading {
  color: #fff;
  margin: 40px 0;
}
.main-home-page__title--heading p span {
  font-weight: bold;
  font-size: 19px;
  color: var(--thirdColor);
}
.main-home-page__title--search {
  display: flex;
  flex-direction: column;
  color: #fff;
}
.main-home-page__title--search input {
  border-radius: 5px;
  padding: 8px 10px;
  width: 260px;
}
.main-home-page__title--search input:focus {
  outline: 1px solid var(--thirdColor);
}
.main-home-page__title--search button {
  background: none;
  border: none;
  cursor: pointer;
}
.main-home-page__title--search button:hover {
  opacity: 80%;
}
.main-home-page__title--search button i {
  color: var(--thirdColor);
  font-size: 22px;
  margin-left: 10px;
}
.main-home-page__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 100px;
}
.main-home-page__songcards {
  margin-bottom: 50px;
}
.main-home-page__songcards__title {
  color: var(--secundaryColor);
  margin-bottom: 50px;
}
.main-home-page__songcards__title h2 span {
  font-weight: 800;
  color: var(--thirdColor);
}
.main-home-page__songcards__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.embedded-player {
  position: fixed;
  z-index: 1;
  width: 100%;
  bottom: 0;
  margin: 0;
}

.main-card {
  width: 100%;
  max-width: 400px;
  height: 400px;
  backdrop-filter: blur(3px);
  border-radius: 15px;
  padding-bottom: 25px;
  position: relative;
  transition: 550ms;
  background-color: rgb(19, 18, 18);
  cursor: pointer;
}
.main-card:hover {
  background-color: black;
}
.main-card:hover .main-card__cover__playIcon {
  opacity: 1;
  transform: translateY(0);
}
.main-card__cover {
  margin-bottom: 15px;
}
.main-card__cover__image img {
  width: 70%;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 10px;
}
.main-card__cover__playIcon {
  border: none;
  background-color: transparent;
  max-width: 100px;
  position: absolute;
  bottom: 120px;
  right: 45px;
  border-radius: 20px;
  transform: translateY(80px);
  opacity: 0;
  transition: 550ms;
  cursor: pointer;
}
.main-card__cover__playIcon--bg {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: -1;
  transition: 300ms;
  background-color: var(--primaryColor);
}
.main-card__cover__playIcon i {
  font-size: 65px;
  font-weight: bold;
  color: var(--thirdColor);
}
.main-card__info {
  color: white;
  text-align: center;
}

.main-songCard {
  width: 100%;
  max-width: 600px;
  max-height: 120px;
  backdrop-filter: blur(3px);
  border-radius: 15px;
  transition: 550ms;
  background-color: rgb(19, 18, 18);
  cursor: pointer;
}
.main-songCard:hover {
  background-color: black;
}
.main-songCard-wrapper {
  display: flex;
  align-items: center;
  gap: 42%;
}
.main-songCard-wrapper__card {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.main-songCard-wrapper__card__cover img {
  object-fit: cover;
  border-radius: 10px;
  max-height: 80px;
}
.main-songCard-wrapper__card__info {
  margin-left: 0;
  color: var(--secundaryColor);
}
.main-songCard-wrapper__card__info h1 {
  font-size: 20px;
}
.main-songCard-wrapper__playIcon button {
  border: none;
  background-color: transparent;
  max-width: 100px;
  border-radius: 20px;
}
.main-songCard-wrapper__playIcon button i {
  font-size: 45px;
  font-weight: bold;
  color: var(--thirdColor);
}

/*# sourceMappingURL=index.css.map */
