@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primaryColor: #000000;
  --secundaryColor: #fff;
  --thirdColor: #ad82e8;
  --backgroundColor: ;
  --font: "Poppins", sans-serif;
}

* {
  margin: 0;
  font-family: var(--font);
}

img {
  width: 100%;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.main-header {
  background-color: var(--primaryColor);
  position: relative;
}

.main-header__navbar {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header__navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.main-header__navbar-nav__logo {
  width: 150px;
  cursor: pointer;
}
@media (max-width: 843px) {
  .main-header__navbar-nav__logo {
    width: 125px;
    cursor: pointer;
  }
}
.main-header__navbar-nav__nav {
  display: flex;
  gap: 30px;
}
.main-header__navbar-nav__nav a {
  text-decoration: none;
  color: var(--secundaryColor);
  cursor: pointer;
  transition: 300ms;
}
.main-header__navbar-nav__nav a:hover {
  color: var(--thirdColor);
  text-decoration: underline;
  font-weight: bold;
}
@media (max-width: 843px) {
  .main-header__navbar-nav__nav {
    position: absolute;
    top: 120px;
    width: 100%;
    left: 0;
    background-color: var(--primaryColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    padding-bottom: 30px;
    display: none;
  }
}
.main-header__navbar .main-header__hamburger {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main-header__navbar .main-header__hamburger-cta {
  font-size: 22px;
  border: none;
  color: var(--secundaryColor);
  background-color: transparent;
}
@media (min-width: 843px) {
  .main-header__navbar .main-header__hamburger-cta {
    display: none;
  }
}

.main-header__hamburger--show {
  display: flex;
}

.header-avatar {
  position: relative;
}
.header-avatar__cta {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--thirdColor);
  clip-path: circle(50%);
  height: 60px;
  width: 60px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
}
.header-avatar__cta p {
  font-size: 25px;
  font-weight: 600;
  color: var(--primaryColor);
}
@media (max-width: 843px) {
  .header-avatar__cta {
    height: 50px;
    width: 50px;
  }
  .header-avatar__cta p {
    font-size: 20px;
  }
}
.header-avatar__dropdown {
  position: absolute;
  background-color: var(--secundaryColor);
  z-index: 1;
  top: 70px;
  left: -70%;
  width: 130px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #e6e6e6;
  padding: 8px;
  display: none;
}
.header-avatar__dropdown a {
  text-decoration: none;
  color: var(--primaryColor);
  font-weight: 600;
  font-size: 17px;
}
.header-avatar__dropdown-show {
  display: block;
}
@media (max-width: 843px) {
  .header-avatar__dropdown {
    position: absolute;
    width: 110px;
    top: 60px;
    left: -70px;
  }
  .header-avatar__dropdown a {
    font-size: 16px;
  }
}

.main {
  height: 100vh;
  background-image: url(https://res.cloudinary.com/dy6gbr4oc/image/upload/v1710713813/tuneify/headphones-displayed-against-dark-background_tn0wze.jpg);
  background-size: cover;
  background-position: right right;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.main-login__wrapper {
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(12, 12, 12, 0.6392156863);
  backdrop-filter: blur(5px);
  width: 100%;
  max-width: 700px;
}
.main-login__wrapper__form {
  width: 92%;
  max-width: 650px;
}
.main-login__wrapper__logo {
  width: 200px;
  margin-bottom: 55px;
}
.main-login__wrapper__heading {
  color: var(--secundaryColor);
  margin-bottom: 30px;
}
.main-login__wrapper__heading h1 {
  font-size: 55px;
}
.main-login__wrapper__heading h1 span {
  color: var(--thirdColor);
}
.main-login__wrapper__heading p {
  font-size: 17px;
}

.main-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-form__username, .main-form__password {
  display: flex;
  flex-direction: column;
  color: var(--secundaryColor);
}

.main-form__forgotpassword {
  margin-top: 11px;
}
.main-form__forgotpassword a {
  color: var(--secundaryColor);
  text-decoration: none;
}
.main-form__forgotpassword a span {
  font-weight: 600;
}

.main-form__cta {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.regular-textinput {
  display: flex;
  flex-direction: column;
}
.regular-textinput label {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 8px;
}
.regular-textinput input {
  border: 2px solid var(--thirdColor);
  border-radius: 10px;
  width: 90%;
  padding: 10px;
}

.base-btn, .outlined-btn, .filled-btn {
  margin-top: 30px;
  color: var(--secundaryColor);
  font-size: 18px;
  font-weight: bold;
  padding: 9px 20px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid var(--thirdColor);
  transition: 300ms;
}

.filled-btn {
  background-color: var(--thirdColor);
}
.filled-btn:hover {
  background-color: transparent;
}

.outlined-btn {
  background-color: transparent;
}
.outlined-btn:hover {
  background-color: var(--thirdColor);
}

/*# sourceMappingURL=index.css.map */
